/*基礎設置*/
.container {
    width: 1190px;
    margin: 0 auto; /* 置中 */
}

html { scroll-behavior: smooth; }

/* #region頂部導航條 start */
.top-announcement {
    height: 35px;
    background-color: #ECECEC;
}

.announcement {
    height: 35px;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
}

/* #endregion頂部導航條 end */

/* #region頭部 Start */
.header {
    height: 120px;
    /* background-color: skyblue; */
}

.header .logo {

}

.header .logo img {
    width: 240px;
    height: 60px;
    margin: 30px;
}

.main-nav-list {
    height: 120px;
    line-height: 120px;
}

.main-nav-list li {
    float: left;
    margin: 0 10px;
    font-size: 16px;
}
/* #endregion頭部 End */

/* #region輪播圖區 Start */
.slider-photos img {
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    border-radius: 3%;
}
/* #endregion輪播圖區 End */

/* #region產品介紹 Start */

.products img {
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    border-radius: 3%;
}

.products .order_btn {
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.products .order_btn a {
    background-color: #199319;
    color: white;
    padding: 15px 25px;
    display: inline-block;
}

/* #endregion產品介紹 End */

/* #region頁腳 Start */
.footer {
    margin-top: 48px;
    height: 200px;
    background-color: #483E3E;
}

.bottom-links {
    text-align: center ;
    margin-top: 47px;
}

.bottom-links ul {
    margin-top: 30px;
}

.bottom-links-list {
    display: inline-block;
}

.bottom-links-list li {
    float: left;
}

.bottom-links-list li a {
    font-size: 15px;
    padding: 0 26px;
    border-right: 1px solid white;
    color: white;
}


.bottom-links-list li:first-child a {
    padding-left: 0;
}

.bottom-links-list li:last-child a {
    padding-right: 0;
    border: 0;
}

.copyright {
    color: white;
    margin-top: 10px;
}

/* #endregion頁腳 End */

